<div class="container">
	<div class="row d-flex justify-content-center">
		<div class="col-12 col-md-8 col-lg-6 col-xl-5 center" style="height: 100vh;">
			<div class="card py-3 px-2">
				<p class="text-center mt-2 title"> REINICIAR LA CONTRASEÑA </p>
                <hr class="mt-0">
				<form class="myform mt-2"  spellcheck="false">
					<div class="form-group">
    					<input  type="text"
								class="form-control"
								name="username"
								[(ngModel)]="user.username"
								placeholder="Usuario"
								required>
  					</div>
                    <div class="form-group">
    					<input  type="password"
								class="form-control"
								name="password"
								[(ngModel)]="user.password"
								placeholder="Nueva Contraseña"
								required>
  					</div>
                    <div class="form-group">
    					<input  type="password"
								class="form-control"
								name="password"
								[(ngModel)]="user.passwordC"
								placeholder="Confirma la nueva contraseña"
								required>
  					</div>
  					<div class="row">
						<div class="col-md-6 col-12 bs">
							<p class="col-md-6 col-12"><a routerLink="/user/login" style="color: #A464EC;"> Iniciar Sesión </a></p>
						</div>
						<div class="col-md-6 col-12 be">
							<p class="col-md-6 col-12"><a routerLink="/user/register" style="color: #A464EC;"> Registrarse </a></p>
					  	</div>
  					</div>
  					<div class="form-group mt-3" style="text-align: center;">
  						<button type="submit" (click)="user" class="btn btn-block btn-primary btn-lg"><small>Reiniciar Contraseña</small></button>
  					</div>
				</form>
			</div>
		</div>
	</div>
</div>