<div class="container">
	<div class="row d-flex justify-content-center">
		<div class="col-12 col-md-8 col-lg-6 col-xl-5 center" style="height: 100vh;">
			<div class="card py-3 px-2">
				<h5 class="text-center mt-2" style="color: rgb(0, 247, 255);"> REGISTER </h5> 
                <hr class="mt-0">
				<form class="myform mt-2">
					<h5 style="color: rgb(0, 247, 255);">Correo</h5>
					<div class="form-group">
    					<input type="text" class="form-control" placeholder="Introduce tu correo" required>
  					</div>
					  <h5 style="color: rgb(0, 247, 255);">Usuario</h5>
					<div class="form-group">
    					<input type="text" class="form-control" placeholder="Introduce tu Usuario" required>
  					</div>
					  <h5 style="color: rgb(0, 247, 255);">Contraseña</h5>
 					<div class="form-group">
    					<input type="password" class="form-control" placeholder="Introduce tu Contraseña" required>
  					</div>
					<div class="form-group">
    					<input type="password" class="form-control" placeholder="Confirma la Contraseña" required>
  					</div>
  					<div class="form-group mt-3" style="text-align: center;">
  						<p type="submit" class="btn btn-block btn-primary btn-lg" style="color: black;">Registrarse</p>
  					</div>
				</form>
			</div>
		</div>
	</div>
</div>